<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <h1 style="color: white ;" >Ferreteria Estandar</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="navbar-nav">
              <a style="color: white;" class="nav-link" href="{% url 'pinturas'%}">Catalogo de pinturas</a>
              <a style="color: white;" class="nav-link" href="{% url 'herramientas'%}">Catalogo de herramientas</a>
              <a style="color: white;" class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>

      
            </div>
          </div>
        </div>
      </nav>



    <div>
        <h1 style="padding-top:80px; padding-left: 50px;">
            Bienvenido a Ferretería Estandar
            </h1>
    </div>
    <div>
        <h3 style=" padding-left: 50px" >Lo que nos distingue
        </h3>
        <p style=" padding-left: 50px" >Ferretería estandar su empresa que garantiza su construcción comercial, residencial e industrial con la mejor gama de accesorios de plomería en general.

        </p>
    </div>
    <div style=" padding-left: 50px">
        <h3>AMPLIA EXPERIENCIA</h3>
        <p style=" padding-left: 50px">Tenemos amplia experiencia, siempre a la vanguardia y al servicio de nuestros clientes, por ello somos la mejor opción en nuestro ramo</p>
    </div>
    <div style=" padding-left: 50px">
        <h3>SERVICIO PUNTUAL</h3>
        <p style=" padding-left: 50px">Es importante destacar que siempre cumplimos en tiempo y forma todos los pedidos de nuestros clientes.

        </p>
    </div>
</body>
</html>